<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
    <main>
         <%= render 'shared/header-chico' %>
        <section class="seccion-subtitulo">
            <h2 id="subtitulo">Tu reseña fue publicada exitosamente</h2>
        </section>
        <section class="seccion-tabla">
            <table>
                <thead>
                <tr>
                <th>Reseñaste a:</th>    
                <th>Calificación:</th>
                <th>Comentario:</th>               
                </tr>
                </thead>
            <tr>
            <td><%= @user_receptor.nombre %></td>  
            <td><%=@resena.calificacion%></td>
            <td><%=@resena.comentario%></td> 
            </tr>   

            </table>
        </section>
        
    </main>

</body>
</html>