


    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <h3 id="titulo-footer">CambiaLibros</h3>
                <ul>
                    <li><a href="#">
                        <input type="checkbox" id="logo-icono" />
                        <label for="logo-icono">
                            <%= image_tag('portadainicio.png', alt: 'Portada de Inicio', class: 'icono-footer') %>
                        </label>
                    </a></li>
    
                    <li><a href="#">Intercambio Seguros</a></li>
                    <li><a href="#">Al alcance de tu mano.</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Visítanos</h3>
                <ul>
                    <li><a href="#">Pontificia Universidad Cátolica de Chile</a></li>
                    <li><a href="#">Campus San Joaquín</a></li>
                    <li><a href="#">Av Vicuña Mackenna 3633</a></li>
                    <li><a href="#">Santigo de Chile, Chile</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Síguenos</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instragram</a></li>
                    <li><a href="#">TikTok</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Legal</h3>
                <ul>
                    <li><a href="#">Términos y Condiciones</a></li>
                    <li><a href="#">Privacidad</a></li>
                </ul>
            </div>

        </div>
    </footer>