<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
    <main>
        <%= render 'shared/header-chico' %>
       
        <section>
            <section class="seccion-subtitulo">
            <h2 id="subtitulo">Ups! El <%=@tipo_solicitado%> que quieres intercambiar ya te pertenece</h2>
            </section>
            <section class="seccion-subtitulo">
            <div class="subcaja"><%= link_to "Volver", @path, class:'btn-3'%></div>
            </section>
        </section>
    </main>
</body>    