<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
        <%= render 'shared/header-chico' %>


        <section class="seccion-subtitulo">
            <h2 id="subtitulo">Juegos Disponibles</h2>
        </section>
        
        <div class="div2">
            <%= render "juegos_disponibles", juegos_disponibles: @juegos_disponibles %>
        </div>
        
       
    </main>
    <footer>
        
    </footer>
</body>
</html>